.footer {
  width: 100%;
  height: 100%;
  padding-top: 140px !important;
  padding-bottom: 50px;
  background-image: url("../images/wave.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: cadetblue; */
}

.logo-footer {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.2rem;
}

.logo-footer .logo {
  margin-left: 10px;
  font-size: 2.4rem;
  font-weight: 700;
}

.desc-footer {
  padding: 0 !important;
  margin-top: 1.7rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.footer-social {
  width: 100%;
  margin-top: 2.6rem;
}

.footer-social a {
  display: inline-block;
  margin-inline: 10px;
  font-size: 1.8rem;
  color: #012970 !important;
  transition: color 0.3s ease-in;
}

.title-sec-footer {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
}

.list-footer li i {
  margin-right: 2px;
  color: #012970;
}

.list-footer li a {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 600;
  color: #012970;
}

.left-footer {
  width: 100%;
  font-size: 1.1rem;
}

.left-footer span,
.left-footer p:not(:nth-child(1)) {
  color: #013289;
}
