.home {
  height: 100vh;
  background-image: url("../images/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 991px) {
  .home {
    margin-top: 6.3rem !important;
  }
}

@media (max-width: 991px) {
  .home .container .row {
    text-align: center;
    margin: auto;
    margin-top: 4.5rem !important;
  }
}

.home .col-lg-7 p:nth-child(1) {
  color: #012970 !important;
}

.home .col-lg-7 p:nth-child(2) {
  width: 80%;
  margin: 2.5rem 0;
  font-size: 2rem;
}

@media (max-width: 991px) {
  .home .col-lg-7 p:nth-child(2) {
    width: 100%;
  }
}

.home .col-lg-5 img {
  -webkit-animation-name: animate-home-pic;
  animation-name: animate-home-pic;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.home .col-lg-7 p:nth-child(2) + .btn-custom {
  width: 17rem;
}

.fa-long-arrow-alt-right {
  -webkit-animation-name: animate-arrow;
  animation-name: animate-arrow;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes animate-arrow {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes animate-arrow {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes animate-home-pic {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes animate-home-pic {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
