#mainNavBar {
  z-index: 1000;
  background-color: white !important;
  box-shadow: 0 2px 13px 10px rgba(0, 0, 0, 0.034);
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand .logo {
  margin-left: 10px;
  font-size: 2.4rem;
  font-weight: 700;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.nav-link {
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 1.3px;
}

.nav-link.active {
  color: var(--bs-blue) !important;
}

.nav-link::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--bs-blue);
  position: absolute;
  bottom: 5px;
  left: 5px;
  transition: all 0.3s ease-in;
}

.nav-link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--bs-blue);
  position: absolute;
  bottom: 5px;
  right: 5px;
  transition: all 0.3s ease-in;
}

@media (max-width: 991px) {
  .nav-link::before,
  .nav-link::after {
    content: none !important;
  }
}

.nav-link:hover::before {
  width: 50%;
}

.nav-link:hover::after {
  width: 50%;
}

.nav-link.active:hover::before,
.nav-link.active:hover::after {
  content: none !important;
}

.navbar-nav + a {
  display: inline-block;
  border: none;
  padding: 8px 17px;
  margin-left: 8px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
}
