.filter-list {
  margin: 2.5rem auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

.filter-list button {
  border-color: #4154f1 !important;
  border-radius: 100px !important;
  margin: 2rem 1.4rem !important;
  padding: 0.4rem 1.4rem !important;
  letter-spacing: 1.6px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.filter-list button.active,
.filter-list button:hover {
  border: 1px solid #4154f1 !important;
  border-radius: 100px !important;
  color: #4154f1 !important;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.my-img-portfolio {
  width: 100% !important;
  height: 100% !important;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.my-img-portfolio::before,
.my-img-portfolio::after {
  content: "";
  width: 5rem;
  height: 5rem;
  border: 3px solid rgba(0, 0, 0, 0.507);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
  z-index: 2;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.my-img-portfolio::before {
  border-right: none;
  border-bottom: none;
  top: -2%;
  left: -2%;
}

.my-img-portfolio::after {
  border-top: none;
  border-left: none;
  bottom: -2%;
  right: -2%;
}

.my-img-portfolio:hover::before {
  top: 3%;
  left: 3%;
  visibility: visible;
  opacity: 1;
}

.my-img-portfolio:hover::after {
  bottom: 3%;
  right: 3%;
  visibility: visible;
  opacity: 1;
}

.my-img-portfolio img {
  height: 100% !important;
  -o-object-fit: cover !important;
  object-fit: cover !important;
  border-radius: 6px;
  -webkit-transition: -webkit-transform 0.44s ease-in;
  transition: -webkit-transform 0.44s ease-in;
  -o-transition: transform 0.44s ease-in;
  transition: transform 0.44s ease-in;
  transition: transform 0.44s ease-in, -webkit-transform 0.44s ease-in;
}

.my-img-portfolio:hover img {
  -webkit-transform: scale(1.17);
  -ms-transform: scale(1.17);
  transform: scale(1.17);
}

.details-portfolio {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  color: #354666;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.img-title-portfolio {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
}

.category-portfolio {
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: capitalize;
}

.links-portfolio {
  width: 30%;
  margin: 0.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.links-portfolio a {
  width: 35px;
  height: 35px;
  padding: 1.2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #4154f1;
}

.links-portfolio a i {
  color: #fff;
}

.my-img-portfolio:hover .details-portfolio {
  visibility: visible;
  opacity: 1;
}

.hide-imgs {
  visibility: hidden;
  opacity: 0;
}

.visible-imgs {
  visibility: visible;
  opacity: 1;
}
