.team {
  overflow: hidden;
}

.person-team {
  padding-bottom: 2rem;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.person-team:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.pic-team-person {
  position: relative;
  overflow: hidden;
}

.pic-team-person img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.pic-team-person,
.pic-team-person img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.shape-team-pic {
  width: 100%;
  position: absolute;
  bottom: -10px;
  z-index: 11;
}

.social-team-person {
  width: 3.3rem;
  height: 60%;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: -20%;
  top: 11%;
  background: rgba(255, 255, 255, 0.712) !important;
  font-size: 1.3rem;
  -webkit-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  transform: translateX(-10%);
  -webkit-transition: right 0.3s ease-in 0.2s;
  -o-transition: right 0.3s ease-in 0.2s;
  transition: right 0.3s ease-in 0.2s;
}

.social-team-person a {
  color: #6f83a6 !important;
}

.person-team:hover .social-team-person {
  right: 4%;
}

.info-team-person {
  padding-top: 2rem;
  background-color: #fff;
  padding-inline: 1.5rem;
}

.name-person-team {
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #012970;
}

.work-person-team {
  color: #aaaaaa;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.desc-person-team {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
  line-height: 25px;
}
