.testimonials {
  padding-bottom: 70px;
}

.swiper {
  width: 26rem;
  height: 37rem;
  margin-top: 5rem;
  overflow: hidden;
}

.swiper-slide {
  padding: 4rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.274);
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
}

.fa-star {
  color: #ffc107 !important;
}

.my-comment {
  margin-top: 2rem;
  font-size: 1.1rem;
  text-align: center;
  line-height: 24px;
}

.pic-person {
  width: 85px;
  height: 85px;
  margin-top: 1rem;
  border-radius: 50%;
}

.pic-person img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.name-person {
  margin-top: 10px;
  font-size: 1.4rem;
  color: #000;
}

.job-person {
  text-transform: capitalize;
  font-size: 1.2rem;
  color: rgb(77, 77, 77);
}

.hand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  margin-top: 1.1rem;
  color: rgba(0, 0, 0, 0.459);
}

.hand i {
  font-size: 2rem;
  -webkit-animation-name: movingHand;
  animation-name: movingHand;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes movingHand {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(-70px);
    transform: translateX(-70px);
  }

  75% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes movingHand {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(-70px);
    transform: translateX(-70px);
  }

  75% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
