.third-about .row:nth-child(2) {
  margin-top: 5rem;
}

@media (max-width: 991px) {
  .third-about .row:nth-child(2) .col-lg-8 {
    margin-top: 7rem;
  }
}

.feat3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feat3 i {
  font-size: 3.3rem;
}

.feat3-content {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.feat3-content h6 {
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
}

.feat3-content p {
  font-size: 1.3rem;
  color: var(--bs-gray);
}
